<!-- Biografia Section -->
<section id="biografia">
<div class="bg-png"><br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Biografía</h2><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <a href="http://www.rockschoolcoruna.es" target=_blank>
                                    <img class="img-circle img-responsive" src="img/rockschool.jpg" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">2014-presente</h4>
                                    <h4>Profesor de Guitarra y Combo</h4>
                                    <h4 class="subheading">Rockschool Coruña</h4>
                                </div>
                                <!--div class="timeline-body">
                                        <ul>
                                            <li>    
                                                <p class="text-muted">
                                                Profesor de Guitarra y Combos.
                                                </p>
                                            </li>
                                        </ul>
                                </div-->
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/cesar-diploma.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">2013-2016</h4>
                                    <h4>RSL Awards</h4>
                                    <h4 class="subheading">London, UK</h4>
                                </div>
                                <div class="timeline-body">
                                        <ul>
                                            <li>    
                                                <h5 class="subheading">
                                                RSL Level 6. EQF 6 Diploma in Music Teaching: Licenciate (Merit)
                                                </h5>
                                            </li>
                                            <li>    
                                                <h5 class="subheading">
                                                RSL Level 3. EQF 4 Certificate in Popular Music Theory: Grade 8 (Merit)
                                                </h5>
                                            </li>
                                            <li>    
                                                <h5 class="subheading">
                                                RSL Level 4. EQF 5 Diploma in Music Performance: Guitar (Merit)
                                                </h5>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/trener.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">2011-2013</h4>
                                    <h4>Director del Trener Ensamble, Profesor de Guitarra, Combos, Teoría Musical</h4>
                                    <h4 class="subheading">Colegio Trener, Lima (Perú)</h4>
                                <div class="timeline-body">
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/melilla.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">2009-2010</h4>
                                    <h4>Finalista en Certamen Nacional de Cantautores “Ciudad de Melilla”</h4>
                                    <h4 class="subheading">Melilla</h4>
                                </div>
                                <div class="timeline-body">
                                </div><br>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
    </section>
