<!-- Inicio Section -->
<section id="inicio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Inicio</h2>
                <!--h3 class="section-subheading text-muted">About the Research Group</h3-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                Mi pasión por el sector eléctrico y el control se reafirmo cuando realice mi tesis de ingeniería en la termoélectrica de Salamanca y mis prácticas profesionales en la refíneria RIAMA.<br>
                Mi curiosida me llevo a realizar una maestría en eléctrica con especialidad en sistemas digitales y control.<br>
                Mi espíritu aventurero me ayudo a resetear mi vida y llegar a España, donde realice un doctorado en Eléctrica, Electrónica y Automática.
                </p>
                <p>
                Disfrusto de aprender cada día, y más de correr. Mi logro más grande fue hacer mi primera maratón. Mi mayor placer comer taquitos y mole.
                </p>
                Contacto: <a href="#contact">envía formulario (abajo)</a>
                </p>
            </div>
        </div>
    </div>
</section>
