<!-- Inicio Section -->
<section id="repos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Repos</h2>
                Aqui mis subpagas
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                HEllou
                </p>
                Heloo
                </p>
                <p>
                Disfrusto de aprender cada día, y más de correr. Mi logro más grande fue hacer mi primera maratón. Mi mayor placer comer taquitos y mole.
                </p>
                Contacto: <a href="#contact">envía formulario (abajo)</a>
                </p>
            </div>
        </div>
    
    <!-- 3-COL -->
    <!-- hr/ -->
    <div class="row">
        <div class="column">
            <h4>Publications</h4>
            <p>
                <ul>
                    <li><a href="http://scholar.google.com/citations?user=qawKnNkAAAAJ">Google Scholar</a></li>
                    <li><a href="https://es.linkedin.com/in/jgvictores">LinkedIn</a></li>
                    <li><a href="http://www.mendeley.com/profiles/juan-g-victores">Mendeley</a></li>
                    <li><a href="http://orcid.org/0000-0002-3080-3467">ORCID</a></li>
                    <li><a href="https://publons.com/researcher/3393447/juan-g-victores">Publons</a></li>
                    <li><a href="http://www.researchgate.net/profile/Juan_Victores">Research Gate</a></li>
                </ul>
            </p>
        </div>
        <div class="column"> <!--  style="background-color:#f2f2f2;" -->
            <h4>Open Source</h4>
            <p>
            <ul>
                <li><a href="https://github.com/lg-gonzalez-juarez">GitHub</a></li>
                <li><a href="https://lg-gonzalez-juarez.github.io/documentation/">GitHub Documentacion</a></li>
                <li><a href="https://lg-gonzalez-juarez.github.io/PlanningTestB2/">GitHub PlanningTestB2</a></li>
                <li><a href="https://lg-gonzalez-juarez.github.io/matlabnotes/">GitHub matlabnotes</a></li>
                <li><a href="http://sourceforge.net/u/jgvictores/profile">SourceForge</a></li>
            </ul>
        </p>
            </div>
            <div class="column">
            <h4>Social Media</h4>
            <p>
                <ul>
                <li><a href="https://twitter.com/jgvictores">Twitter</a></li>
                <li><a href="http://www.youtube.com/user/jgvictores">YouTube</a></li>
                <li><a href="http://www.slideshare.net/JuanGVictores">SlideShare</a></li>
            </ul>
            </p>
            </div>
        </div>
</div>
</section>