<!-- Videos Section -->
<section id="videos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Vídeos</h2>
                <!--h3 class="section-subheading text-muted">Recent Projects</h3-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div id="ctm-carousel" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner" role="listbox">

                        <div class="item active">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/b5NJL4Rr3J8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="item">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iO6JIjGk00s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="item">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wW12Q6qY0tc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="item">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yI1XOHsHrMg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="item">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1juGfWG3n7o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>

                    </div>

                    <ol class="carousel-indicators">
                        <li data-target="#ctm-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#ctm-carousel" data-slide-to="1"></li>
                        <li data-target="#ctm-carousel" data-slide-to="2"></li>
                        <li data-target="#ctm-carousel" data-slide-to="3"></li>
                        <li data-target="#ctm-carousel" data-slide-to="4"></li>
                    </ol>

                    <a class="left carousel-control" data-slide="prev" href="#ctm-carousel"><span class="icon-prev"></span></a>
                    <a class="right carousel-control" data-slide="next" href="#ctm-carousel"><span class="icon-next"></span></a>

                    <button class="btn btn-sm" id="ctm-carousel-btn">
                        <span id="carousel-button-icon" class="fa fa-pause"></span>
                    </button>

                </div>
            </div>
        </div>
    </div>
</section>
